# Ignore compiled files
*.o
*.lo
*.a
*.so
*.so.*
*.la
# Ignore autotools stuff
aclocal.m4
autom4te.cache
config.*
configure
Makefile
Makefile.in
stamp-h1
libtool
.deps
.libs
# Ignore backup files
*~
# Ignore linkinfo files
*.linkinfo
# Ignore patch remains
*.orig
*.rej
# Ignore vim swap files
*.swo
*.swp
# Ignore compiled test cases
*_TEST
# Ignore compiled benchmarks
*_BENCHMARK
# Ignore generated data files
*.dat
# Ignore tarballs
*.tar.bz2
*.tar.gz
# Ignore patch mails
*.eml
# Ignore files created by our own build system
*.body
*.functions
*.opcodes
