body {
    background-color: #eedd99;
    color: #333333;
    font-family: "Verdana", "Helvetica", sans-serif;
}

h1 {
    text-align: center;
    font-size: x-large;
    border-bottom: 1px dashed #aa9933;
}

h2 {
    text-align: left;
    border-bottom: 1px dashed #aa9933;
    font-size: x-large;
}

h3 {
    font-size: large;
    text-align: left;
    border-bottom: 1px dashed #ddcc99;
}

caption {
    font-weight: bold;
}

div.qindex {
    width: 100%;
    background-color: #ddcc99;
    border: 1px solid #aa9933;
    text-align: center;
    margin: 2px;
    padding: 2px;
    font-size: small;
    line-height: 140%;
}

div.nav {
    width: 100%;
    background-color: #ddcc99;
    border: 1px solid #aa9933;
    text-align: center;
    margin: 2px;
    padding: 2px;
    font-size: small;
    line-height: 140%;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: #996600;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #996600;
}

a:hover {
    text-decoration: none;
    background-color: #996600;
    font-weight: bold;
    color: #ffffff;
}

a:hover img {
    background-color: #996600;
}

a.el {
    font-weight: bold;
}

a.elRef {
    font-weight: bold;
}

.fragment {
    font-family: monospace;
}

pre {
    border: 1px solid #ddcc99;
    background-color: #eee4bb;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.ah {
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
    margin-top: 3px;
}

td.md {
    background-color: #eee4bb;
    font-weight: bold;
}

td.mdPrefix {
    background-color: #eee4bb;
    color: #606060;
}

td.mdname1 {
    background-color: #eee4bb;
    font-weight: bold;
    color: #602020;
}

td.mdname {
    background-color: #eee4bb;
    font-weight: bold;
    color: #602020;
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
    font-size: small;
}

td.indexkey {
    background-color: #eee4bb;
    font-weight: bold;
    padding-right  : 10px;
    padding-top    : 2px;
    padding-left   : 10px;
    padding-bottom : 2px;
    margin-left    : 0px;
    margin-right   : 0px;
    margin-top     : 2px;
    margin-bottom  : 2px;
    border: 1px solid #ddcc99;
}

td.indexvalue {
    background-color: #eee4bb;
    font-style: italic;
    padding-right  : 10px;
    padding-top    : 2px;
    padding-left   : 10px;
    padding-bottom : 2px;
    margin-left    : 0px;
    margin-right   : 0px;
    margin-top     : 2px;
    margin-bottom  : 2px;
    border: 1px solid #ddcc99;
}

tr.memlist {
    background-color: #f0f0f0;
}

p.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdTable {
        border: 1px solid #868686;
        background-color: #eee4bb;
}
.mdRow {
        padding: 8px 10px;
}
.mdescLeft {
       padding: 0px 8px 4px 8px;
        font-size: small;
        font-style: italic;
        background-color: #FAFAFA;
        border-top: 1px none #E0E0E0;
        border-right: 1px none #E0E0E0;
        border-bottom: 1px none #E0E0E0;
        border-left: 1px none #E0E0E0;
        margin: 0px;
}
.mdescRight {
       padding: 0px 8px 4px 8px;
        font-size: small;
        font-style: italic;
        background-color: #FAFAFA;
        border-top: 1px none #E0E0E0;
        border-right: 1px none #E0E0E0;
        border-bottom: 1px none #E0E0E0;
        border-left: 1px none #E0E0E0;
        margin: 0px;
}
.memItemLeft {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #E0E0E0;
        border-right-color: #E0E0E0;
        border-bottom-color: #E0E0E0;
        border-left-color: #E0E0E0;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #FAFAFA;
        font-size: small;
}
.memItemRight {
        padding: 1px 8px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #E0E0E0;
        border-right-color: #E0E0E0;
        border-bottom-color: #E0E0E0;
        border-left-color: #E0E0E0;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #FAFAFA;
        font-size: small;
}
.memTemplItemLeft {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #E0E0E0;
        border-right-color: #E0E0E0;
        border-bottom-color: #E0E0E0;
        border-left-color: #E0E0E0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #FAFAFA;
        font-size: small;
}
.memTemplItemRight {
        padding: 1px 8px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #E0E0E0;
        border-right-color: #E0E0E0;
        border-bottom-color: #E0E0E0;
        border-left-color: #E0E0E0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #FAFAFA;
        font-size: small;
}
.memTemplParams {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #E0E0E0;
        border-right-color: #E0E0E0;
        border-bottom-color: #E0E0E0;
        border-left-color: #E0E0E0;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
       color: #606060;
        background-color: #FAFAFA;
        font-size: small;
}
.memtemplate {
  font-size: small;
  color: #606060;
  font-weight: normal;
} 
.memnav { 
  background-color: #e8e8e8;
  border: 1px solid #333333;
  text-align: center;
  margin: 2px;
  margin-right: 15px;
  padding: 2px;
}
.memitem {
  background-color: #eedd99;
  border-width: 1px;
  border-style: solid;
  border-color: #aa9933;
}
.memname {
  white-space: nowrap;
  font-weight: bold;
}
.memdoc{
  padding-left: 10px;
}
.memproto {
  background-color: #f8f8f8;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aa9933;
  font-weight: bold;
}
.memproto * {
    font-size: small;
}
.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #666666;
  font-style: italic;
  white-space: nowrap;
}

.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: small;
               color: #000080;
               font-weight: normal;
               background-color: #eee4bb;
}
TD.tiny      { font-size: 75%;
}
.dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #b0b0b0;
}
TH.dirtab { background: #eee4bb;
            font-weight: bold;
}
HR { height: 1px;
     border: none;
     border-top: 1px solid black;
}

code {
    background-color: #ddcc99;
}

dd {
    margin-left: 3em;
    margin-bottom: 0.3em;
}

dt {
    font-weight: bold;
}

